
   
   .container-fluid  {
    border: 3px solid rebeccapurple;
   }
   .row{
    border: 3px solid royalblue;
    
   }
   .col-5{
    border: 4px solid forestgreen;
   
   }
  .bg{
   background-size: cover;
   min-height: 600px;
 width: 1300px;
   margin-left: 0px;
  }
   